In [ ]:
# Read file
file = open('xp 1.txt')
read = file.read()
file.seek(0)

0

In [2]:
read

'I am Vinayak Thorat.\nI live in Kalvade, Karad.\nI am 22 years old and looking forward to make a career as an IT Professional.'

In [ ]:
# Count lines
line = 1
for word in read:
    if word == '\n':
        line += 1

print('Number of lines are', line)

Number of lines are 3

In [ ]:
# Separate lines
array = []
for i in range(line):
    array.append(file.readline())

array

['I am Vinayak Thorat.\n',
 'I live in Kalvade, Karad.\n',
 'I am 22 years old and looking forward to make a career as an IT Professional.']

In [6]:
# Remove punctuations
punct = '''`~!@#$%^&*()_-+=:;"'|\\<>?,./{[]}'''
for ele in read:
    for ele in punct:
        read = read.replace(ele, " ")

read

'I am Vinayak Thorat \nI live in Kalvade  Karad \nI am 22 years old and looking forward to make a career as an IT Professional '

In [7]:
read = read.lower()
read

'i am vinayak thorat \ni live in kalvade  karad \ni am 22 years old and looking forward to make a career as an it professional '

In [9]:
# Tokenize words and remove stopwords
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\thora\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\thora\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [11]:
tokens = word_tokenize(read)
tokens = [word for word in tokens if not word in stopwords.words()]
tokens

['vinayak',
 'thorat',
 'live',
 'kalvade',
 'karad',
 '22',
 'years',
 'forward',
 'make',
 'career',
 'professional']

In [13]:
# Inverted index
dict = {}
for i in range(line):
    check = array[i].lower()
    for token in tokens:
        if token in check:
            if token not in dict:
                dict[token] = []
        
            dict[token].append(i + 1)

In [14]:
dict

{'vinayak': [1],
 'thorat': [1],
 'live': [2],
 'kalvade': [2],
 'karad': [2],
 '22': [3],
 'years': [3],
 'forward': [3],
 'make': [3],
 'career': [3],
 'professional': [3]}