In [2]:
import sqlite3

In [5]:
conn = sqlite3.connect('dataware_house.db')
curr = conn.cursor()

In [6]:
curr.execute('''
CREATE TABLE IF NOT EXISTS transactions (
    id INTEGER,
    product TEXT,
    quantity INTEGER
)
''')

In [9]:
data = [
    (1, 'apple', 3),
    (2, 'coffee', 5),
    (3, 'banana', 7),
    (4, 'sandlewood', 2),
    (5, 'jaggery', 1),
]
curr.executemany('INSERT INTO transactions (id, product, quantity) VALUES (?, ?, ?)', data)

In [10]:
conn.commit()
conn.close()

In [11]:
conn = sqlite3.connect('dataware_house.db')
curr = conn.cursor()

In [14]:
curr.execute('SELECT * FROM transactions')
result = curr.fetchall()

In [15]:
for res in result:
    print(res)

(1, 'apple', 3)
(2, 'coffee', 5)
(3, 'banana', 7)
(4, 'sandlewood', 2)
(5, 'jaggery', 1)

In [16]:
conn.close()

In [1]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('dwm.db')
curr = conn.cursor()

# Create the transactions table if it doesn't already exist
curr.execute('''
CREATE TABLE IF NOT EXISTS transactions (
    id INTEGER PRIMARY KEY,
    product TEXT,
    quantity INTEGER
)
''')

# Insert initial data into the transactions table
data = [
    (1, 'apple', 3),
    (2, 'coffee', 5),
    (3, 'banana', 7),
    (4, 'sandlewood', 2),
    (5, 'jaggery', 1),
]
curr.executemany('INSERT OR IGNORE INTO transactions (id, product, quantity) VALUES (?, ?, ?)', data)

# Commit the changes
conn.commit()

# Perform CRUD operations

# 1. CREATE: Insert a new transaction
new_data = (6, 'tea', 4)
curr.execute('INSERT INTO transactions (id, product, quantity) VALUES (?, ?, ?)', new_data)
print("New transaction added.")

# 2. READ: Retrieve all transactions
curr.execute('SELECT * FROM transactions')
all_transactions = curr.fetchall()
print("All transactions:")
for transaction in all_transactions:
    print(transaction)

# 3. UPDATE: Update the quantity of a specific product (e.g., changing coffee's quantity to 10)
curr.execute('UPDATE transactions SET quantity = ? WHERE product = ?', (10, 'coffee'))
print("Updated transaction for coffee.")

# 4. DELETE: Remove a transaction by product name (e.g., deleting 'jaggery')
curr.execute('DELETE FROM transactions WHERE product = ?', ('jaggery',))
print("Deleted transaction for jaggery.")

# Commit changes and close the connection
conn.commit()

# 5. READ: Retrieve all transactions
curr.execute('SELECT * FROM transactions')
all_transactions = curr.fetchall()
print("All transactions:")
for transaction in all_transactions:
    print(transaction)

conn.close()

New transaction added.
All transactions:
(1, 'apple', 3)
(2, 'coffee', 5)
(3, 'banana', 7)
(4, 'sandlewood', 2)
(5, 'jaggery', 1)
(6, 'tea', 4)
Updated transaction for coffee.
Deleted transaction for jaggery.
All transactions:
(1, 'apple', 3)
(2, 'coffee', 10)
(3, 'banana', 7)
(4, 'sandlewood', 2)
(6, 'tea', 4)